$icon-size: 66px;

#fui-default-icons {
  .item-type-entry {
    display: flex;

    & > * {
      flex: 1;
      align-self: center;
      margin: 0 4px;
    }

    input {
      flex: 2;
      height: 34px;
      min-width: 300px;
      font-size: 12px;
    }

    img {
      width: $icon-size;
      height: $icon-size;
      flex: 0;
      margin: 0;
    }

    button {
      flex: 0;
      margin: 0;
    }
  }
}