$icon-size: 66px;

#fui-default-icons {
  &.wfrp {
    .window-content {
      background: url(/ui/parchment.jpg) repeat;
    }
  }

  .item-type-entry {
    display: flex;

    & > * {
      flex: 1;
      align-self: center;
      margin: 0 4px;
    }

    input {
      flex: 2;
      height: 29px;
      min-width: 300px;
      font-size: 12px;
    }

    img {
      width: $icon-size;
      height: $icon-size;
      flex: 0;
      margin: 0;
    }

    button {
      flex: 0;
      margin: 0;
    }
  }
}

#fui-item-properties {
  &.wfrp {
    .window-content {
      background: url(/ui/parchment.jpg) repeat;
    }
  }

  form {
    height: 100%;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr) auto;
  }

  nav {
    flex-wrap: wrap;

    a {
      flex: 0 0 25%;
    }
  }

  section {
    overflow: auto;
    padding: 6px;

    .tab {
      columns: 3;

      .type-property {
        display: flex;
        align-items: center;

      }

      * {
        break-inside: avoid-column;
        padding: 0;
      }
    }
  }

}
